body{
    display:flex;
    flex-direction:column;
    height:100%;
    font-size: 14px;
    font-family: arial, sans-serif;
}
.upper_bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size: 14px;
    height:60px;
    font-size: 14px;

}
.upper_bar_side{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size: 13 px;
    width:10%;
}

#upper_bar_side_right{
    width:20%;
}

p:hover{
    text-decoration:underline;
}
.about {
    display: flex;
  align-items: center;
  flex-shrink: 1;
}

.images {
    display: flex;
  align-items: center;
  flex-shrink: 1;
}

.apps{
    display: flex;
    align-items:center;
  flex-shrink: 1;
}

.store{
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.gmail{
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.sigin button{
    display: flex;
    position:relative;
    top:5px;
    background-color:#1a73e8;
    color:white;
    font-size:13px;
    padding: 9px 15px;
    min-width: 80px;
    flex-shrink: 1;
    border-radius:5%;
}

.logo_bar{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:92;
    width:292;
    align-items:center;
}
.search_bar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
}
.search_box{
    display:flex;
    width:50px;
    height:100%;
}
#logo{
    height:80px
}

.submit_bar{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.submit_buttons{
    display: flex;
    position:relative;
    top:5px;
    background-color:rgb(223, 213, 213);
    font-size:13px;
    padding: 9px 15px;
    min-width: 80px;
    flex-shrink: 1;
    border-radius:5%;
}